* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 3em auto;
  grid-template-rows: 3em auto 3em;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
  background-color: #eee;
  display: flex;
  align-items: center;
}

aside {
  margin: 0;
  grid-area: aside;
  background-color: #eee;
}

aside nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

aside button {
  cursor: pointer;
  margin: 0.3em;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside button img {
  width: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-flow: column;
}

main svg.svg {
  flex-grow: 1;
  background: #ddd;
}

main svg.svg.insert {
  cursor: crosshair;
}

main .status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

footer {
  grid-area: footer;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

line {
  stroke: black;
  stroke-width: 2;
}
